<div
  class="lightbox-backdrop"
  *ngIf="opened"
  (click)="close()"
>

  <div class="lightbox-container" (click)="$event.stopPropagation()">

    <button class="close" (click)="close()">
      ✕
    </button>

    <button
      class="prev"
      *ngIf="images.length>1"
      (click)="prev()">
      ❮
    </button>

    <img
      [src]="images[index]"
      alt=""
    >

    <button
      class="next"
      *ngIf="images.length>1"
      (click)="next()">
      ❯
    </button>

  </div>

</div>